<!-- верхняя часть шапки -->
  <div class="header">
    <div class="header-top">
    <div class="header-left">
      <div><img alt="Логотип сайта" src="assets/logo.svg"></div>
      <nav class="header-nav">
        <div class="header-nav-item">{{ navItem1 }}</div>
        <div class="header-nav-item" *ngIf="isShowAboutCompany">{{ aboutCompany }}</div>
        <div class="header-nav-item">{{ navItem3 }}</div>
        <button (click)="isShowAboutCompany = !isShowAboutCompany">Скрыть/Показать</button>
        <button (click)="changeMenuText()">Изменить текст</button>
        <button routerLink="user">Админка</button>
      </nav>
    </div>
    <div class="header-right">
      <img src="assets/phone.svg" alt="Телефон">
      <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
      <img src="assets/heart.svg" class="heart">
      <button class="cart">
        <img src="assets/cart.svg">
        <span class="empty">Пусто</span>
      </button>
    </div>
  </div>
<!-- нижняя часть шапки -->
  <div class="header-below">
    <div class="header-below-left">
      <div class="header-below-item">
        <img src="assets/menu.svg" alt="Меню">
      </div>
        <button class="header-below-item-button" *ngFor="let item of menuItems">{{ item }}</button>      
    </div>

    <div class="header-below-right">
      <div class="div-search">
        <input class="input" type="text" placeholder="Поиск, например Круг зачистной">
        <img class="search" src="assets/search.svg">
      </div>
      <div class="location">
        <img src="assets/location.svg">
        <span>Москва</span>
      </div>
    </div>
  </div>
</div>
<!-- конец шапки -->