.box-form {
    margin: 30px;
    max-width: 500px;
    color: #000000;
}

.area-form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.create-user-button {
    border: solid 1px black;
    width: 200px;
}