<div>
  <button (click)="isShowImg = !isShowImg">Скрыть/Показать</button>
  <img *ngIf="isShowImg" class="poster" src="assets/poster.svg" alt="Баннер">
</div>

<div class="goods-container">
    <div class="services">
      <div class="info">
        <img class="img_info" src="assets/brickwall.png">
        <span>Большой ассортимент <br> <span class="pale_text">строительных материалов всегда в наличии</span></span>
      </div>
      <div class="info">
        <img class="img_info" src="assets/truck.png">
        <span>Доставка стройматериалов <br> <span class="pale_text">в течении четырех часов или в любое удобное время</span></span>
      </div>
      <div class="info">
        <img class="img_info" src="assets/thumb.png">
        <span><span class="pale_text">Многоуровневая</span> система управления качеством <span class="pale_text">по стандарту ISO 9001</span></span>
      </div>
    </div>
<!-- кнопки переключения карточек -->
    <div class="goods_buttons">
      <button class="item active-button" *ngFor="let page of newPages">{{ page }}</button>
    </div>
<!-- карточки с товарами-->
    <div class="goods_card_1">
        <div class="goods_card_1_left">
          <div class="spray_text">Строительный отделочный инструмент</div>
          <div class="spray_action">
            <span>Перейти в каталог</span>
            <a href="" class="arrow">
              <img src="assets/arrow.png">
            </a>
          </div>
        </div>

        <div class="goods_card_1_right">
          <div class="items_card_1_right">
            <div class="enamel_text">Эмали</div>
            <div class="enamel_action">
              <span>Перейти в каталог</span>
              <a href="" class="arrow">
                <img src="assets/arrow.png">
              </a>
            </div>
          </div>
          <div class="items_card_1_right">
            <div class="varnish_text">Лакокрасочные материалы</div>
            <div class="varnish_action">
              <span>Перейти в каталог</span>
              <a href="" class="arrow">
                <img src="assets/arrow.png">
              </a>
            </div>
          </div>
          <div class="items_card_1_right">
            <div class="glue_text">Пены, клеи и герметики</div>
            <div class="glue_action">
              <span>Перейти в каталог</span>
              <a href="" class="arrow">
                <img src="assets/arrow.png">
              </a>
            </div>
          </div>
          <div class="items_card_1_right">
            <div class="socket_text">Розетки и выключатели</div>
            <div class="socket_action">
              <span>Перейти в каталог</span>
              <a href="" class="arrow">
                <img src="assets/arrow.png">
              </a>
            </div>
          </div>
        </div>
    </div>
<!-- популярные товары -->
    <div class="heading">Популярные товары</div>

    <div class="goods_card_2">
      <div class="cleaning_wheel">
        <div class="discount_like">
          <img src="assets/discount.png">
          <img class="like" src="assets/like.png">
        </div>
        <img class="img_wheel" src="assets/wheel.png">
        <span class="description description_1">Круг зачистной 125х6х22</span>
        <span class="description description_2">Артикул 00004</span>
        <span class="description description_3">Цена за штуку</span>
        <span class="description description_4"><span class="discount">52 руб.</span> &nbsp;&nbsp; 48 руб</span>
        <div class="description_5">
          <span>Количество<br><br> - 1 +</span>
          <button class="cart_button">В корзину</button>
        </div>
      </div>
      <div class="cleaning_wheel">
        <div class="discount_like">
          <img src="assets/discount.png">
          <img class="like" src="assets/like.png">
        </div>
        <img class="img_wheel" src="assets/wheel.png">
        <span class="description description_1">Круг зачистной 125х6х22</span>
        <span class="description description_2">Артикул 00004</span>
        <span class="description description_3">Цена за штуку</span>
        <span class="description description_4"><span class="discount">52 руб.</span> &nbsp;&nbsp; 48 руб</span>
        <div class="description_5">
          <span>Количество<br><br> - 1 +</span>
          <button class="cart_button">В корзину</button>
        </div>
      </div>
      <div class="cleaning_wheel">
        <div class="discount_like newly">
          <img class="new" src="assets/new.png">
          <img class="like_third" src="assets/like.png">
          <img class="discount_third" src="assets/discount.png">
        </div>
        <img class="img_wheel" src="assets/wheel.png">
        <span class="description description_1">Круг зачистной 125х6х22</span>
        <span class="description description_2">Артикул 00004</span>
        <span class="description description_3">Цена за штуку</span>
        <span class="description description_4"><span class="discount">52 руб.</span> &nbsp;&nbsp; 48 руб</span>
        <div class="description_5">
          <span>Количество<br><br> - 1 +</span>
          <button class="cart_button">В корзину</button>
        </div>
      </div>
      <div class="cleaning_wheel">
        <div class="discount_like newly">
          <img class="new" src="assets/new.png">
          <img class="like_third" src="assets/like.png">
        </div>
        <img class="img_wheel" src="assets/wheel.png">
        <span class="description description_1">Круг зачистной 125х6х22</span>
        <span class="description description_2">Артикул 00004</span>
        <span class="description description_3">Цена за штуку</span>
        <span class="description description_4">52 руб</span>
        <div class="description_5">
          <span>Количество<br><br> - 1 +</span>
          <button class="cart_button">В корзину</button>
        </div>
      </div>
    </div>

  <div class="master">
    <span class="big_text">Более 10 000 наименований </span>
    <span class="medium_text">Инструмент для вашего бизнеса, разнообразных марок</span>
    <span class="small_text">Перейти в каталог</span>
  </div>

  <!-- Новинки товаров -->
  <div class="heading_2">
    <span class="new_goods">Новинки</span>
    <span class="all_goods">Посмотреть все товары</span>
  </div>

  <div class="goods_card_2">
    <div class="cleaning_wheel">
      <div class="discount_like newly">
        <img class="new" src="assets/new.png">
        <img class="like_third" src="assets/like.png">
      </div>
      <img class="img_wheel" src="assets/wheel.png">
      <span class="description description_1">Круг зачистной 125х6х22</span>
      <span class="description description_2">Артикул 00004</span>
      <span class="description description_3">Цена за штуку</span>
      <span class="description description_4">52 руб</span>
      <div class="description_5">
        <span>Количество<br><br> - 1 +</span>
        <button class="cart_button">В корзину</button>
      </div>
    </div>
    <div class="cleaning_wheel">
      <div class="discount_like newly">
        <img class="new" src="assets/new.png">
        <img class="like_third" src="assets/like.png">
      </div>
      <img class="img_wheel" src="assets/wheel.png">
      <span class="description description_1">Круг зачистной 125х6х22</span>
      <span class="description description_2">Артикул 00004</span>
      <span class="description description_3">Цена за штуку</span>
      <span class="description description_4">52 руб</span>
      <div class="description_5">
        <span>Количество<br><br> - 1 +</span>
        <button class="cart_button">В корзину</button>
      </div>
    </div>
    <div class="cleaning_wheel">
      <div class="discount_like newly">
        <img class="new" src="assets/new.png">
        <img class="like_third" src="assets/like.png">
      </div>
      <img class="img_wheel" src="assets/wheel.png">
      <span class="description description_1">Круг зачистной 125х6х22</span>
      <span class="description description_2">Артикул 00004</span>
      <span class="description description_3">Цена за штуку</span>
      <span class="description description_4">52 руб</span>
      <div class="description_5">
        <span>Количество<br><br> - 1 +</span>
        <button class="cart_button">В корзину</button>
      </div>
    </div>
    <div class="cleaning_wheel">
      <div class="discount_like newly">
        <img class="new" src="assets/new.png">
        <img class="like_third" src="assets/like.png">
      </div>
      <img class="img_wheel" src="assets/wheel.png">
      <span class="description description_1">Круг зачистной 125х6х22</span>
      <span class="description description_2">Артикул 00004</span>
      <span class="description description_3">Цена за штуку</span>
      <span class="description description_4">52 руб</span>
      <div class="description_5">
        <span>Количество<br><br> - 1 +</span>
        <button class="cart_button">В корзину</button>
      </div>
    </div>
  </div>
</div>
<!-- Нижняя серая часть -->
<footer class="bottom">
  <div class="bottom_grey_1">
    <div class="phone_info">
      <div class="logo"><img src="assets/logo.svg"></div>
      <span class="info_heading"><img class="phone-icon" src="assets/phone-icon.png">Контактный телефон</span>
      <a class="contact" href="tel:+78123090934">+ 7 (812) 309-09-34</a>
      <a class="contact" href="tel:+79650842909">+ 7 (965) 084-29-09</a>
    </div>
    <div class="email_info">
      <span class="info_heading"><img class="email-icon" src="assets/email-icon.png">Электронная почта</span>
      <a class="contact" href="mailto:tustin78@mail.ru">tustin78&#64;mail.ru</a> 
      <a class="contact" href="mailto:info@tustin.ru">info&#64;tustin.ru</a>
    </div>
  </div>
  <div class="bottom_grey_2">
    <div class="subscribe">
      <span class="any-questions">Остались вопросы?</span>
      <span class="be-aware">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
      <div class="input-email">
        <img class="email-icon-2" src="assets/email-icon.png">
        <input class="input-2" type="email" placeholder="Введите свою почту">
        <button class="button-2" type="submit">
          <span class="send">Отправить</span>
        </button>
      </div>
    </div>
  </div>
  <div class="bottom_grey_3">
    <div class="lowest-part">
      <span class="heading-socials">Главная &nbsp;&nbsp;&nbsp; О компании &nbsp;&nbsp;&nbsp; Каталог</span>
      <div class="socials">
        <button class="social-icon"><img src="assets/facebook.svg"></button>
        <button class="social-icon"><img src="assets/youtube.svg"></button>
        <button class="social-icon"><img src="assets/whatsapp.svg"></button>
        <span class="years">© 2021-2022, EDE</span>
      </div>
    </div>
  </div>
</footer>
