.poster {
    width: 100%;
    height: auto;
}

.services {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.pale_text {
    color: #A1A0A0;
}

.info {
    width: 421px;
    height: 72px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.img_info {
    margin-right: 20px;
}

.goods_buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.item {
    border: none;
    color: #A1A0A0;
    background: none;
    font-family: "Inter", sans-serif;
}

.active-button {
    color: #F0BA4E;
    font-weight: bold;
}

.goods_card_1 {
    display: flex;
}

.goods_card_1_left {
    width: 421px;
    height: 428px;
    background-image: url('/assets/spray.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: -20px;
    overflow: hidden;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    box-sizing: border-box;
    padding: 16px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.goods-container {
    width: 1320px;
    margin: 0 auto;
    color: black;
}

.spray_text {
    font-family: Inter;
    font-weight: 600;
    font-size: 28px;
}

.spray_action {
    width: 190px;
    height: 40px;
    align-items: center;
    align-self: flex-end;
    display: flex;
    font-size: 14px;
}

.arrow {
    width: 20px;
    height: 20px;
    border: 1px #F0BA4E solid;
    border-radius: 80px;
    padding: 10px;
    margin-left: 10px;
}

.goods_card_1_right {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 890px;
    height: 100%;
    gap: 20px;
}

.items_card_1_right {
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.items_card_1_right:first-child {
    background-image: url('/assets/enamel.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.enamel_text {
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: end;
    margin: 10px 20px 0 0;
}

.enamel_action {
    width: 190px;
    height: 40px;
    align-items: center;
    align-self: flex-end;
    display: flex;
    font-size: 14px;
    margin: 15px;
}

.items_card_1_right:nth-child(2) {
    background-image: url('/assets/varnish.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

.varnish_text {
    width: 231px;
    height: 68px;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: end;
    margin: 15px; 
}

.varnish_action {
    width: 190px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 14px;
    margin: 15px;
}

.items_card_1_right:nth-child(3) {
    background-image: url('/assets/glue.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

.glue_text {
    width: 231px;
    height: 68px;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: end;
    margin: 15px; 
}

.glue_action {
    width: 190px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 14px;
    margin: 15px;
}

.items_card_1_right:nth-child(4) {
    background-image: url('/assets/socket.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.socket_text {
    width: 336px;
    height: 34px;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: end;
    margin: 15px; 
}

.socket_action {
    width: 190px;
    height: 40px;
    align-items: center;
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    margin: 15px;
}

.goods_card_2 {
    display: flex;
    justify-content: space-between;
    width: 1412px;
    height: 491px;
}

.cleaning_wheel {
    width: 309px;
    height: 429px;
    background-color: none;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}

.heading {
    width: 282px;
    height: 34px;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 25px;
}

.img_wheel {
    display: flex;
    margin: auto;
}

.description {
    display: block;
    margin-left: 20px; 
}

.discount_like {
    position: absolute;
    padding: 0 25px;
}

.like {
    margin-left: 180px;
}
.description_1 {
    font-weight: 600;
    font-size: 20px; 
    margin-bottom: 10px;  
}

.description_2 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px; 
}

.description_3 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;  
    color: #A1A0A0;
}

.description_4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
}

.discount {
    text-decoration: line-through;
    font-size: 16px;
}

.description_5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_button {
    width: 135;
    height: 47;
    gap: 10px;
    border-radius: 54px;
    border: 1px solid #F0BA4E;
    padding: 14px 28px;
    margin-left: 30px;
}

.newly {
 display: flex;
}

.new {
    display: block;
}

.like_third {
    margin-left: 125px;
}

.discount_third {
    display: flex;
    position: absolute;
    margin-top: 50px;
}

.master {
    height: 251px;
    background-repeat: no-repeat;
    background-image: url('/assets/master.png');
    background-position-x: right;
    margin-bottom: 60px;
}

.big_text {
    display: block;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 30px 30px;
}

.medium_text {
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #A1A0A0;
    margin: 0 0 110px 30px; 
}

.small_text {
    display: block;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 30px 30px;
    color: #F0BA4E;
}

.heading_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.new_goods {
    display: block;
    font-weight: 500;
    font-size: 28px;
}

.all_goods {
    display: block; 
    font-weight: 600;
    font-size: 18px;
    color: #F0BA4E;
}

.bottom {
    height: 373px;
    display: flex;
    background-color: #4B565E;
    color: #FFFFFF;
}

.bottom_grey_1 {
    height: 250px;
    width: -webkit-fill-available;
    border-right: 1px solid #566169;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_grey_2 {
    height: 250px;
    width: -webkit-fill-available;
}

.bottom_grey_3 {
    height: 123px;
    width: -webkit-fill-available;
    border-top: 1px solid #566169;
    position: absolute;
    margin-top: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.phone_info {
    width: 250px;
    display: flex;
    flex-direction: column;
    line-height: 27px;
}

.email_info {
    width: 250px;
    display: flex;
    flex-direction: column;
    line-height: 27px;
    margin: 95px 0 0 0;
}

.contact {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 43px;
}

.info_heading {
    font-weight: 400;
    font-size: 12px;
}

.logo {
    height: auto;
    width: auto;
    margin-bottom: 30px;
}

.phone-icon {
    margin-right: 20px;
}

.email-icon {
    margin-right: 20px;
}

.any-questions {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

.be-aware {
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF99;
    margin-bottom: 30px;
    line-height: 25px;
}

.subscribe {
    width: 534px;
    height: 162px;
    margin: 40px 0 0 120px;
}   

.input-email {
    border: 1px solid #F0BA4E;
    width: 534px;
    height: 48px;
    border-radius: 30px;
    padding-right: 6px;
    padding-left: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.email-icon-2 {
    width: 16px;
    height: 16px;
}

.input-2 {
    background: none;
    font-weight: 400;
    font-size: 12px;
    border: none;
    color: #FFFFFF;
    margin-right: 30px;
    padding-left: 10px;
}

.button-2 {
    width: 94px;
    height: 36px;
    border-radius: 30px;
    background-color: #F0BA4E;
    border: #F0BA4E;
    margin-left: 250px;  
}

.send {
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.lowest-part {
    width: 1520px;
    height: 77px;
}

.socials {
    display: flex;
    margin: 30px 0 0 0;
}

.social-icon {
    background-color: #4B565E;
    border: none;
}

.years {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    margin-left: 1200px;
}

.heading-socials {
    font-weight: 400;
    font-size: 14px;
}