
  <div class="header">
    <div class="header-top">
    <div class="header-left">
      <div><img alt="Логотип сайта" src="assets/Logo.svg"></div>
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
    </div>
    <div class="header-right">
      <img src="assets/Phone.svg" alt="Телефон">
      <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
      <img src="assets/Heart.svg" class="heart">
      <button class="cart">
        <img src="assets/Cart.svg">
        <span class="empty">Пусто</span>
      </button>
    </div>
  </div>

  <div class="header-below">
    <div class="header-below-left">
      <div class="header-below-item">
        <img src="assets/Menu.svg" alt="Меню">
        <span class="catalog">Каталог</span>
      </div>
      <button class="header-below-item-button">Стройматериалы</button>
      <button class="header-below-item-button">Инструменты</button>
      <button class="header-below-item-button">Электрика</button>
      <button class="header-below-item-button">Интерьер и одежда</button>
    </div>

    <div class="header-below-right">
      <div class="div-search">
        <input class="input" type="text" placeholder="Поиск, например Круг зачистной">
        <img class="search" src="assets/Search.svg">
      </div>
      <div class="location">
        <img src="assets/Location.svg">
        <span>Москва</span></div>
    </div>
  </div>
</div>