<div appHoverShadow class="user-box">
    <p>{{ user.name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.website }}</p>
    <p>{{ user.phone | phoneFormat }}</p>

    <button 
        (click)="openDeleteDialog()" 
        matButton="elevated"
        class="deleteButton"
        matTooltip="Удалить пользователя"
    >
        Удалить
    </button>

    <button 
        (click)="openDialog()" 
        matButton="elevated"
        class="deleteButton"
        matTooltip="Редактировать данные пользователя"
    >
        Изменить
    </button>          
</div>