<h1 style="color: black; padding-left: 30px;">Create Todo Form</h1>

<div class="box-form">
    <form [formGroup]="form"(ngSubmit)="submitForm()" class="area-form">
        <mat-form-field>
            <mat-label>Введите текст задачи</mat-label>
            <input matInput placeholder="Закончить 12 урок менторинга" formControlName="text">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Введите автора задачи</mat-label>
            <input matInput placeholder="Иван Иванов" formControlName="author">
        </mat-form-field>

        <mat-checkbox formControlName="completed">Задача завершена</mat-checkbox>

        <button class="createTodoButton" [disabled]="form.invalid" mat-button>Добавить задачу</button>
    </form>
</div>